<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"

	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" id="WebApp_ID">


	<display-name>ganymede</display-name>


	<servlet>
		<servlet-name>PublicationController</servlet-name>
		<servlet-class>com.servlets.PublicationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicationController</servlet-name>
		<url-pattern>/publierAudit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>com.servlets.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/accueilAdmin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminRoleController</servlet-name>
		<servlet-class>com.servlets.AdminRoleController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminRoleController</servlet-name>
		<url-pattern>/editerRole</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResultatController</servlet-name>
		<servlet-class>com.servlets.ResultatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResultatController</servlet-name>
		<url-pattern>/Resultat</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PageResultatController</servlet-name>
		<servlet-class>com.servlets.PageResultatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageResultatController</servlet-name>
		<url-pattern>/accueilResultat</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccueilController</servlet-name>
		<servlet-class>com.servlets.AccueilController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccueilController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuditsController</servlet-name>
		<servlet-class>com.servlets.AuditsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuditsController</servlet-name>
		<url-pattern>/audits</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConnexionController</servlet-name>
		<servlet-class>com.servlets.ConnexionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnexionController</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MonProfilController</servlet-name>
		<servlet-class>com.servlets.MonProfilController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonProfilController</servlet-name>
		<url-pattern>/monProfil</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ModificationAuditController</servlet-name>
		<servlet-class>com.servlets.ModificationAuditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificationAuditController</servlet-name>
		<url-pattern>/modificationAudit</url-pattern>
	</servlet-mapping>



	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

</web-app>
